		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
		<script src="http://mrdoob.github.io/three.js/examples/js/shaders/CopyShader.js"></script>
		<script src="http://mrdoob.github.io/three.js/examples/js/shaders/DotScreenShader.js"></script>
		<script src="http://mrdoob.github.io/three.js/examples/js/shaders/RGBShiftShader.js"></script>

		<script src="http://mrdoob.github.io/three.js/examples/js/postprocessing/EffectComposer.js"></script>
		<script src="http://mrdoob.github.io/three.js/examples/js/postprocessing/RenderPass.js"></script>
		<script src="http://mrdoob.github.io/three.js/examples/js/postprocessing/MaskPass.js"></script>
		<script src="http://mrdoob.github.io/three.js/examples/js/postprocessing/ShaderPass.js"></script>

		<script>

			var camera, scene, renderer, composer;
			var object, light;

			init();
			animate();

			function init() {

				// renderer = new THREE.WebGLRenderer();
				renderer = new THREE.WebGLRenderer( { antialias:true, alpha: true } );
				// renderer.setClearColor( 0x3f3f3f, 1);
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );

				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 1, 1000 );
				camera.position.z = 400;

				scene = new THREE.Scene();
				scene.fog = new THREE.Fog( 0x000000, 1, 1000 );

				object = new THREE.Object3D();
				scene.add( object );

				var geometry = new THREE.SphereGeometry( 1, 4, 4 );
				var material = new THREE.MeshPhongMaterial( { color: 0xffffff, shading: THREE.FlatShading } );

				for ( var i = 0; i < 10; i ++ ) {

					var mesh = new THREE.Mesh( geometry, material );
					mesh.position.set( Math.random() - 0.5, Math.random() - 0.5, Math.random() - 0.5 ).normalize();
					mesh.position.multiplyScalar( Math.random() * 300 );
					mesh.rotation.set( Math.random() * 3, Math.random() * 3, Math.random() * 3 );
					mesh.scale.x = mesh.scale.y = mesh.scale.z = Math.random() * 66;
					object.add( mesh );

				}

				scene.add( new THREE.AmbientLight( 0x222222 ) );

				light = new THREE.DirectionalLight( 0xffffff );
				light.position.set( 1, 1, 1 );
				scene.add( light );

				// postprocessing

				composer = new THREE.EffectComposer( renderer );
				composer.addPass( new THREE.RenderPass( scene, camera ) );

				var effect = new THREE.ShaderPass( THREE.DotScreenShader );
				effect.uniforms[ 'scale' ].value = 50;
				composer.addPass( effect );

				this.effectRGB = new THREE.ShaderPass( THREE.RGBShiftShader );
				this.effectRGB.uniforms[ 'amount' ].value = 0.0015;
				this.effectRGB.renderToScreen = true;
				composer.addPass( this.effectRGB );

				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function animate() {

				requestAnimationFrame( animate );

				object.rotation.x += 0.001;
				object.rotation.y += 0.001;

				setInterval(function(){ this.effectRGB.uniforms[ 'amount' ].value += 0.0005; camera.position.z += 1; }, 560);
				setInterval(function(){ this.effectRGB.uniforms[ 'angle' ].value += 0.0005; }, 500);

				light.intensity += 0.005;
				// camera.position.z += 0.5;
				if (light.intensity > 7) {
					camera.position.z += 30;
				}
				else {
					setInterval(function(){ this.effectRGB.uniforms[ 'amount' ].value = 0.0015; camera.position.z = 400;}, 600);
				}
				if (light.intensity > 8) {
					// scene.remove( light );
					// light.intensity = 1;
					scene.remove(object);
					newObject = new THREE.Object3D();
					var geometry = new THREE.SphereGeometry( 1, 4, 4 );
					var material = new THREE.MeshPhongMaterial( { color: 0xffffff, shading: THREE.FlatShading } );
					var mesh = new THREE.Mesh( geometry, material );
					mesh.scale.x = mesh.scale.y = mesh.scale.z = 8;
					newObject.add( mesh );
					scene.add( newObject);

					renderer.setClearColor( 0x000000, 1);
				}
				composer.render();

			}

		</script>
